if timer_enable
  #workboard
if bdage_enable
  p#ghbdages
    each item in bdageitem
      a.github-badge(target='_blank' href=item.link style='margin-inline:5px' data-title=item.message title='')
        img(src=item.shields alt='')
